<!DOCTYPE html>
<html lang="en">

    <head>
        <script src="https://kit.fontawesome.com/92d70a2fd8.js" crossorigin="anonymous"></script>
        <!--<link rel="stylesheet" href="cart.css">-->
        <script>
            var baseUrl = "{{ url_for('static', filename='') }}";
        </script>
        
        <link rel="stylesheet" href="{{ url_for('static', filename='cart.css') }}">
        
    </head>

    <body>
       <div class="top-bar">
        <p><i class="fa-solid fa-envelope"></i>xyz@gmail.com</p>
        <p><i class="fa-solid fa-phone"></i>+917684797634</p>

       </div>
       <div class="header">
         <div class="navbar">
            <p></p>
            <ul>
                <li><a hred="#">HOME</a></li>
                <li><a hred="#">STORE</a></li>
                <li><a hred="#">ABOUT</a></li>
                <li><a hred="#">CONTACT</a></li>
            </ul>
         </div>
         <div class="navbar-b">
            <div class="dropdown">
                <select name="">
                    <option value="1">Categories</option>
                    <option value="2">Bikes</option>
                    <option value="3">Accessories</option>
                    <option value="4">Fashion</option>
                </select>
            </div>
                <div class="search">
                    <input type="search" placeholder="Search...">
                    <i class="fa-solid fa-magnifying-glass"></i>
                </div>
                <div class="cart"><i class="fa-solid fa-cart-shopping"></i><p>0</p></div>
            </div>
         </div>
       </div>
       <div class="container">
         <div id="root"></div>
         <!--<div class="sidebar">Sidebar</div>-->
         <div class="chat-container" id="chat-container"></div>
       </div>
       
       <!--<script src="cart.js"></script>-->
       <script src="{{ url_for('static', filename='cart.js') }}"></script>
    </body>

</html>
